<div class="container text-center">
  <p>&copy; <%= Date.today.year %> Workout Tracker. All Rights Reserved.</p>
  <a href="#" class="text-light me-2"><i class="fab fa-facebook"></i></a>
  <a href="#" class="text-light me-2"><i class="fab fa-twitter"></i></a>
  <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
</div>
