
  <title>Workout Tracker</title>


</head>
<body>


  <main class="container mt-4">
    <div class="text-center">
      <h1>Welcome to Workout Tracker</h1>
      <p>Your tool for tracking workouts and progress!</p>
      <a href="<%= new_user_session_path %>" class="btn btn-primary">Login</a>
      <a href="<%= new_user_registration_path %>" class="btn btn-secondary">Sign Up</a>
    </div>
  </main>


</body>

