<div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 56px); margin-top: 56px;">
  <div style="max-width: 600px; width: 100%;">
    <h1 class="text-center">Edit Workout</h1>
    <%= render 'form', user_workout: @user_workout %>
  </div>
</div>
